#notification {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
    pointer-events: none;
}

#notification .not {
    position: relative;
    background: #584b4b;
    padding: 10px 40px 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
    color: #EEE;
    font-family: open_sansregular, sans-serif;
    font-size: 14px;
    margin: 10px;
    transform: translateY(100%);
    border-radius: 7px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
    text-align: center;
    line-height: 1.2;
    max-width: 300px;
}

#notification .not.visible {
    opacity: 1;
    transform: translateY(0);
}

#notification .not .icon {
    width: 30px;
}

#notification .not .title {
    font-family: open_sansbold, sans-serif;
    color: #FFF;
    text-transform: uppercase;
    padding-bottom: 7px;
}

#notification .not .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url("../images/close-white.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    pointer-events: auto;
}


@media (max-width: 800px) {

    #notification {
        width: 100vw;
    }


}